@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Nunito:300,400,400i,700,900|Open+Sans:300,400,400i,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #707070;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
}
#cart main {
    height: 100vh;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100vw;
}
a {
    color: #585858;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 1.5em;
    margin: .5em 0 0;
}
h3 {
    color: #454545;
    font-size: .845em;
    margin-bottom: .5em;
}
.logo {
    width: 100px;
    height: 100px;
    background-color: #26a3a8;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: -25px;

}
header#pgHeader {
    color: #fff;
    font-family: "Dosis", sans-serif;
    position: relative;
    margin-bottom: 5em;
}
header#pgHeader h3 {
    background-color: #26a3a8;
    color: #fff;
    font-size: 1.25em;
    font-weight: 300;
    padding-bottom: .2em;
    padding-left: 80px;
}
.logo img {
    width: 44px;
    margin: 42px 10px 0 34px;
}
header.sectionHeader {
    padding: 0 2em;
}
section {
    padding: .5em 2em;
}
.item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: "h" "i" "l";
}
.item header {
    grid-area: h;
}
.item img {
    grid-area: i;
}
.item ul {
    grid-area: l;
    list-style: none;
}
.item li {
    padding: 0 0 .25em;
}
.itemAmt {
    display: flex;
    align-items: center;
}
#amt {
    color: #6f6f6f;
    font-size: 1em;
    font-weight: 700;
    padding: 0;
    width: 40px;
    text-align: center;
    border: none;
    -moz-appearance: textfield;
}
#amt::-webkit-outer-spin-button,
#amt::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.item button {
    font-size: 1.35em;
    color: #6f6f6f;
    cursor:  pointer;
    border: 0;
    background: #fff;
}
.item button:focus {
    outline: solid 1px #fff;
}
.order ul {
    list-style: none;
    border: solid 1px #cecece;
    border-radius: 4px;
    padding: .75em;
}
.order li {
    display: flex;
    justify-content: space-between;
    border-bottom: dotted 1px #cecece;
}
.order li:last-child {
    border-top: solid 1px #aaa;
    border-bottom: none;
    font-weight: 700;
    padding-top: .5em;
}
#orderSum header {
    text-align: left;
}
#orderSum {
    text-align: center;
    max-width: 400px;
    margin-bottom: 1.5em;
}
.formBtn {
    background-color:#2f2f2f;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    padding: 0.75em;
    margin: 1em auto;
    display: inline-block;
    text-decoration: none;
}
footer {
    background-color: #26a3a8;
    color: #fff;
    padding: .4em 1em;
    text-align: center;
}
footer p {
    font-weight: 300;
    font-size: .8em;
}
footer p strong {
    font-family: 'Dosis', sans-serif;
    font-size: 1.25em;
}
footer p.copy {
    font-size: 0.7em;
    margin: 1em 0;
}



