.checkoutStepper ul {
    list-style: none;
    color: #aaaaaa;
    width: 90%;
    position: relative;
    margin: 0 auto 1em;
    display: flex;
    justify-content: space-around;
    counter-reset: step;
}
.checkoutStepper li {
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.checkoutStepper li:before {
    content: "1";
    color: #fff;
    border-radius: 50%;
    background-color: #aaa;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: auto;
}

