#ship main {
    display: grid;
    grid-template-rows: 10% 10% auto 1fr auto;
    height: 100%;
}
.delivery {
    padding-top: 1.5em;
}
.personalInfo {
    border: solid 1px  #ccc;
    border-radius: 4px;
    padding: .1em .5em;
    margin-right: 1em;
}
.personalInfo ul {
    list-style: none;
}
.personalInfo li {
    padding: .35em 0 ;
}
.personalInfo li:first-child {
    border-bottom: solid 1px #ccc;
}
.personalInfo li span:first-child {
    color: #ccc;
    display: inline-block;
    width: 20%;
    padding-right: .5em;
    min-width: 65px;
}

/* CUSTOM RADIO BUTTONS */
.customRadioBtn {
    max-width: 505px;
}
.customRadioBtn input[type="radio"]{  /* hide the default radio buttons, this will allow us to make our own */
    position: absolute !important;
    margin-left: -9999px !important;
    visibility: hidden !important;
}
.customRadioBtn label.radioLabel {
    display: flex;
    margin-bottom: .5em;
    position: relative;
    padding-top: 4px;
    padding-left: 30px;
    letter-spacing: normal;
    color: #585858;
    font-size: .875em;
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: .5em;
}
.customRadioBtn input+span {  /* create the outer circles for the radio buttons */
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #dfe5e9;
    border-radius: 50%;
}
.customRadioBtn input+span:after { /* style the inner circles for the radio buttons (selected state) */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #585858;
    transform: translate(-50%, -50%);
    transition: 0.2s all;
}
.customRadioBtn strong {
    text-align: right;
    margin-left: auto;
}
.customRadioBtn input:not(:checked)+span:after {
    opacity: 0;
}
.customRadioBtn input:checked+span:after {
    opacity: 1;
    width: 10px;
    height: 10px;
}
/* END CUSTOM RADIO BUTTONS */

